#text-in-image {
  position: absolute;
  top: 50px;
  left: 140px;
  color: white;
}
.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}
.thumbnail {
  padding: 0;
}
.thumbnail img{
  width: 100%;
}
